.songListPageHeaderRow{
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.songListPageHeaderButton,.songListPageHeaderButtonSelected{
    padding: 5px 20px 5px 20px;
    margin-right: 20px;
    border-radius: 20px;
    border: rgba(0,0,0,0.3) solid 0.05px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.songListPageHeaderButtonSelected{
    background-color: rgb(201,38,32);
    border: none;
    color: white;
}